<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Codecool events</title>
</head>

<body>
    <h1 align="center">Codecool Events List:</h1>

<div class="container">
    <form action="/sorted" method="get">
        <select name="chosen-category">
            <option selected="selected" value="ALL">ALL</option>
            <option th:each="category,iterStat : ${category}" th:value="${category}">
                <p th:text="${category}"></p>
            </option>
        </select>
        <input type="submit" value="get by category">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Event name:</th>
                <th>Event date:</th>
                <th>Action:</th>
            </tr>
        </thead>
        <tbody>
            <!--/*@thymesVar id="eventContainer" type="Main"*/-->
            <tr th:each="event,iterStat : ${eventContainer}">
                <td>
                    <a th:text="${event.name}"
                       href="" th:href="@{~/events/{eventId}/info(eventId=${event.id})}">
                    </a>
                </td>
                <td>
                    <p th:text="${event.date}"></p>
                </td>
                <td>
                    <a href="" th:href="@{~/events/{eventId}/remove(eventId=${event.id})}">Remove</a>
                    <a href="" th:href="@{~/events/{eventId}/edit(eventId=${event.id})}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

    <br>

    <form action="/add-event" method="get">
        <input type="submit" value="Add new event">
    </form>

    <br>

    <div th:replace="footer :: copy"></div>

</body>
</html>