<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codecool events</title>
</head>

<body>
    <h1>Codecool Events List:</h1>

    <div class="container">
        <div id="products" class="row list-group">
            <!--/*@thymesVar id="eventContainer" type="Main"*/-->
            <div class="item col-xs-4 col-lg-4" th:each="event,iterStat : ${eventContainer}">
                <a href="/event-info">
                    <div th:text="${event.name}"></div>
                    <input type="hidden" th:name="event-id" th:value="${event.id}">
                </a>
            </div>
        </div>
    </div>

    <br>

    <div th:replace="footer :: copy"></div>

</body>
</html>